In [30]:
import pandas as pd
import numpy as np

In [31]:
true = pd.read_csv('True.csv')

In [32]:
fake = pd.read_csv('Fake.csv')

In [33]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [34]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [35]:
true['label'] = 1
fake['label'] = 0

In [36]:
true.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [37]:
#merge these 2 tables in row wise 
news = pd.concat([fake, true], axis = 0) #axis = 0 means row wise

In [38]:
news.head() #first 5 rows of data

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [39]:
news.tail() #last 5 rows of data

,title,text,subject,date,label
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [40]:
news.isnull().sum() #to check the null values in changed dataset

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [41]:
#we don't need some columns so we drop them
news = news.drop(['title', 'subject','date'], axis = 1)

In [42]:
news.head()

                                                text  label
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

In [43]:
#the above dataset is looking like organized like it's first fake news & then true news
#so we shuffle it now
news = news.sample(frac=1)

In [44]:
news.head()

                                                    text  label
23290  Tune in to the Alternate Current Radio Network...      0
3254   WASHINGTON (Reuters) - The U.S. Supreme Court ...      1
21003  CAIRO (Reuters) - Egypt signed on Tuesday a me...      1
7400   Beginning in 2011, Republican-controlled state...      0
14811  ANKARA (Reuters) - Exhausted and exposed to fr...      1

In [45]:
#the above dataset is looking like organized like it's first fake news & then true news
#so we shuffle it now
news = news.sample(frac=1) #reshuffling

In [46]:
news.head()

                                                    text  label
10027  Americans watched in horror as live chopper vi...      0
20256  BEIRUT/MOSCOW (Reuters) - The Lebanese Shi ite...      1
17182  The fundamental transformation of America cont...      0
644    WASHINGTON (Reuters) - A U.S. Senate committee...      1
22714  Deputy Attorney General Rod Rosenstein appeare...      0

In [47]:
news.reset_index(inplace=True)

In [48]:
news.head()

   index                                               text  label
0  10027  Americans watched in horror as live chopper vi...      0
1  20256  BEIRUT/MOSCOW (Reuters) - The Lebanese Shi ite...      1
2  17182  The fundamental transformation of America cont...      0
3    644  WASHINGTON (Reuters) - A U.S. Senate committee...      1
4  22714  Deputy Attorney General Rod Rosenstein appeare...      0

In [49]:
news.drop(['index'], axis = 1, inplace = True)

In [50]:
news.head()

                                                text  label
0  Americans watched in horror as live chopper vi...      0
1  BEIRUT/MOSCOW (Reuters) - The Lebanese Shi ite...      1
2  The fundamental transformation of America cont...      0
3  WASHINGTON (Reuters) - A U.S. Senate committee...      1
4  Deputy Attorney General Rod Rosenstein appeare...      0

In [51]:
#the above data is text, our ML understands numerical data more ease
#so we change text to numerical
#Capital to small, replace punctuation, tags, links - create a class

import re

In [53]:
def wordopt(text):
    #Convert into lower case
    text = text.lower()
    
    #Remove URL's
    text = re.sub(r'https?://\S+|www\.\S+', '', text)
    
    #Remove HTML tags
    text = re.sub(r'<.*?>', '', text)
    
    #Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)
    
    #Remove digits
    text = re.sub(r'\d', '', text)
    
    #Remove newline characters
    text = re.sub(r'\n', ' ', text)
    
    return text

In [54]:
news['text'] = news['text'].apply(wordopt)

In [55]:
news['text']

0        americans watched in horror as live chopper vi...
1        beirutmoscow reuters  the lebanese shi ite gro...
2        the fundamental transformation of america cont...
3        washington reuters  a us senate committee on t...
4        deputy attorney general rod rosenstein appeare...
                               ...
44893    kellyanne conway was absolutely grilled by chu...
44894    washington reuters  taxpolicy writers in the u...
44895    by the truth houndin the words of abc news  an...
44896    the news that the forecast for the third quart...
44897    washington reuters  the united states will sen...
Name: text, Length: 44898, dtype: object

In [58]:
x = news['text']
y = news['label']

In [59]:
x

0        americans watched in horror as live chopper vi...
1        beirutmoscow reuters  the lebanese shi ite gro...
2        the fundamental transformation of america cont...
3        washington reuters  a us senate committee on t...
4        deputy attorney general rod rosenstein appeare...
                               ...
44893    kellyanne conway was absolutely grilled by chu...
44894    washington reuters  taxpolicy writers in the u...
44895    by the truth houndin the words of abc news  an...
44896    the news that the forecast for the third quart...
44897    washington reuters  the united states will sen...
Name: text, Length: 44898, dtype: object

In [60]:
y

0        0
1        1
2        0
3        1
4        0
        ..
44893    0
44894    1
44895    0
44896    0
44897    1
Name: label, Length: 44898, dtype: int64

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [63]:
x_train.shape

(31428,)

In [64]:
x_test.shape

(13470,)

In [65]:
#extraction
from sklearn.feature_extraction.text import TfidfVectorizer

In [66]:
vectorization = TfidfVectorizer()

In [67]:
xv_train = vectorization.fit_transform(x_train)

In [71]:
xv_test = vectorization.transform(x_test)

In [72]:
xv_train

<31428x175477 sparse matrix of type '<class 'numpy.float64'>'
	with 6451945 stored elements in Compressed Sparse Row format>

In [73]:
xv_test

<13470x175477 sparse matrix of type '<class 'numpy.float64'>'
	with 2729460 stored elements in Compressed Sparse Row format>

In [84]:
#Decision Tree
from sklearn.tree import DecisionTreeClassifier

In [85]:
DTC = DecisionTreeClassifier()

In [88]:
DTC.fit(xv_train, y_train)

DecisionTreeClassifier()

In [89]:
pred_dtc = DTC.predict(xv_test)

In [90]:
DTC.score(xv_test, y_test)

0.9974758723088345

In [91]:
print(classification_report(y_test, pred_dtc))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      7084
           1       1.00      1.00      1.00      6386

    accuracy                           1.00     13470
   macro avg       1.00      1.00      1.00     13470
weighted avg       1.00      1.00      1.00     13470