In [7]:
import pandas as pd
import numpy as np

In [8]:
true = pd.read_csv('True.csv')

In [9]:
fake = pd.read_csv('Fake.csv')

In [10]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [11]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [12]:
true['label'] = 1
fake['label'] = 0

In [13]:
true.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [14]:
#merge these 2 tables in row wise 
news = pd.concat([fake, true], axis = 0) #axis = 0 means row wise

In [15]:
news.head() #first 5 rows of data

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [16]:
news.tail() #last 5 rows of data

,title,text,subject,date,label
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [17]:
news.isnull().sum() #to check the null values in changed dataset

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [18]:
#we don't need some columns so we drop them
news = news.drop(['title', 'subject','date'], axis = 1)

In [19]:
news.head()

                                                text  label
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

In [20]:
#the above dataset is looking like organized like it's first fake news & then true news
#so we shuffle it now
news = news.sample(frac=1)

In [21]:
news.head()

                                                    text  label
12321  Lifelong Socialist, Islam apologist, chosen as...      0
17861  During the 2016 presidential election, Mark Cu...      0
22344   Washingtons BlogEveryone s talking about  fak...      0
2767   It s not tough to imagine that NASCAR races ha...      0
7244   A Canadian tech company is capitalizing on Don...      0

In [22]:
#the above dataset is looking like organized like it's first fake news & then true news
#so we shuffle it now
news = news.sample(frac=1) #reshuffling

In [23]:
news.head()

                                                    text  label
14522  MOSCOW/BEIRUT (Reuters) - Russian long-range b...      1
14776  ***Language Warning***This video will make you...      0
19316                                                         0
13130  ANKARA (Reuters) - President Tayyip Erdogan sa...      1
7615   NEW DELHI (Reuters) - The U.S. embassy in New ...      1

In [24]:
news.reset_index(inplace=True)

In [25]:
news.head()

   index                                               text  label
0  14522  MOSCOW/BEIRUT (Reuters) - Russian long-range b...      1
1  14776  ***Language Warning***This video will make you...      0
2  19316                                                         0
3  13130  ANKARA (Reuters) - President Tayyip Erdogan sa...      1
4   7615  NEW DELHI (Reuters) - The U.S. embassy in New ...      1

In [26]:
news.drop(['index'], axis = 1, inplace = True)

In [27]:
news.head()

                                                text  label
0  MOSCOW/BEIRUT (Reuters) - Russian long-range b...      1
1  ***Language Warning***This video will make you...      0
2                                                         0
3  ANKARA (Reuters) - President Tayyip Erdogan sa...      1
4  NEW DELHI (Reuters) - The U.S. embassy in New ...      1

In [28]:
#the above data is text, our ML understands numerical data more ease
#so we change text to numerical
#Capital to small, replace punctuation, tags, links - create a class

import re

In [29]:
def wordopt(text):
    #Convert into lower case
    text = text.lower()
    
    #Remove URL's
    text = re.sub(r'https?://\S+|www\.\S+', '', text)
    
    #Remove HTML tags
    text = re.sub(r'<.*?>', '', text)
    
    #Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)
    
    #Remove digits
    text = re.sub(r'\d', '', text)
    
    #Remove newline characters
    text = re.sub(r'\n', ' ', text)
    
    return text

In [30]:
news['text'] = news['text'].apply(wordopt)

In [31]:
news['text']

0        moscowbeirut reuters  russian longrange bomber...
1        language warningthis video will make your bloo...
2
3        ankara reuters  president tayyip erdogan said ...
4        new delhi reuters  the us embassy in new delhi...
                               ...
44893    remember the promise of a fence on our souther...
44894    with the list of hollywood actors and entertai...
44895    reuters  partial government shutdowns in maine...
44896    sadly much of what george orwell predicted in ...
44897    are you or is someone you know a legally blind...
Name: text, Length: 44898, dtype: object

In [32]:
x = news['text']
y = news['label']

In [33]:
x

0        moscowbeirut reuters  russian longrange bomber...
1        language warningthis video will make your bloo...
2
3        ankara reuters  president tayyip erdogan said ...
4        new delhi reuters  the us embassy in new delhi...
                               ...
44893    remember the promise of a fence on our souther...
44894    with the list of hollywood actors and entertai...
44895    reuters  partial government shutdowns in maine...
44896    sadly much of what george orwell predicted in ...
44897    are you or is someone you know a legally blind...
Name: text, Length: 44898, dtype: object

In [34]:
y

0        1
1        0
2        0
3        1
4        1
        ..
44893    0
44894    0
44895    1
44896    0
44897    0
Name: label, Length: 44898, dtype: int64

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [37]:
x_train.shape

(31428,)

In [38]:
x_test.shape

(13470,)

In [39]:
#extraction
from sklearn.feature_extraction.text import TfidfVectorizer

In [40]:
vectorization = TfidfVectorizer()

In [41]:
xv_train = vectorization.fit_transform(x_train)

In [42]:
xv_test = vectorization.transform(x_test)

In [43]:
xv_train

<31428x175242 sparse matrix of type '<class 'numpy.float64'>'
	with 6445662 stored elements in Compressed Sparse Row format>

In [44]:
xv_test

<13470x175242 sparse matrix of type '<class 'numpy.float64'>'
	with 2735000 stored elements in Compressed Sparse Row format>

In [45]:
from sklearn.ensemble import RandomForestClassifier

In [46]:
rfc = RandomForestClassifier()

In [ ]:
rfc.fit(xv_train, y_train)

In [ ]:
predict_rfc = rfc.predict(xv_test)

In [ ]:
rfc.score(xv_test, y_test)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_test, predict_rfc))